---
pagination:
  data: emoji.all
  size: 1
  alias: emoji
permalink: "{{ emoji.permalink }}"
layout: base.njk
eleventyComputed:
  title: "{{ emoji.title }}"
---
<section class="description">
  <h1>{{ emoji.title }}</h1>
  <input type="text" disabled value="{{ emoji.character }}" />
  <button onclick="navigator.clipboard.writeText('{{emoji.character}}')">Copy</button>
</section>
<section class="versions">
  <h2>Versions</h2>
  <ul>
  {%- for vendor in emoji.vendors %}
    <li class="vendor" data-vendor="{{ vendor.id }}">
      <div class="vendor__name">{{ vendor.name }}</div>
      <div class="vendor__image">
        {# TODO: Most of the style here can be moved to a CSS sheet -#}
        <img src="/static/emoji/{{vendor.id}}/sheet-64.png" style="width: 64px; height: 64px; object-fit: none; object-position: {{ emoji.position }}" />
      </div>
    </li>
  {%- endfor -%}
  </ul>
</section>
<section class="info">
  <h2>Unicode Details</h2>
  <table>
    <tbody>
      <tr>
        <td>Character</td>
        <td>{{ emoji.character }}</td>
      </tr>
      <tr>
        <td>Codepoints</td>
        <td>
          {%- for codepoint in emoji.codepoints -%}
            <code>{{ codepoint }}</code>{% if not loop.last %},{% endif %}
          {%- endfor -%}
        </td>
      <tr>
        <td>Shortcodes</td>
        <td>
          {%- for shortcode in emoji.short_names -%}
            <code>:{{ shortcode }}:</code>{% if not loop.last %}, {% endif %}
          {%- endfor -%}
        </td>
      </tr>
      {% if emoji.category -%}
      <tr>
        <td>Category</td>
        <td>{{ emoji.category }}</td>
      </tr>
      {%- endif %}
      {% if emoji.subcategory -%}
      <tr>
        <td>Subcategory</td>
        <td>{{ emoji.subcategory }}</td>
      </tr>
      {%- endif %}
    </tbody>
  </table>
</section>